{% extends 'base.html.twig' %}
{% block body %}
    <h1>Witaj w rozpoznawaczu</h1>
    
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    {% for quest in questions %}
        
        <a href="{{path('questions_show',{'id':quest.id})}}"><i class="fa fa-fw fa-table"></i> <h3>{{quest.topic}}</h3></a>
        
        {{quest.questionContent}}
        <p>
        <hr>    
    {% endfor %}
{% endblock %}