{% extends 'base.html.twig' %}
{% block body %}
    <h1>Witaj w rozpoznawaczu</h1>
    
    <form action="Default" method="POST">
        <textarea id="forrestwatchbundle_ask_Question" 
                  name="forrestwatchbundle_questions[questionContent]" 
            required="required" class="form-control">
        </textarea>
        
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa">Królestwo</i> <b class="caret"></b></a>
                <div class="dropdown-menu message-dropdown">
                {% for king in kingdom %}
                    <input type="radio" name="kingdom" value="{{ king.id }}">{{ king }}<br>
                {% endfor %}
                </div>
            </li>
            <li class="dropdown">                    
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa">Region</i> <b class="caret"></b></a>
                <div class="dropdown-menu message-dropdown">
                {% for region in regions %}
                    <input type="radio" name="region" value="{{ region.id }}">{{ region }}<br>
                {% endfor %}
                </div>
            </li>
        </ul>
        <input type="submit" value="zapytaj">
    </form>
    
    {% for quest in questions %}
        
        <a href="{{path('questions_show',{'id':quest.id})}}"><i class="fa fa-fw fa-table"></i> <h3>{{quest.topic}}</h3></a>
        
        {{quest.questionContent}}
        <p>
        <hr>    
    {% endfor %}
{% endblock %}