{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kingdoms list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kingdom in kingdoms %}
            <tr>
                <td><a href="{{ path('kingdom_show', { 'id': kingdom.id }) }}">{{ kingdom.id }}</a></td>
                <td>{{ kingdom.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('kingdom_show', { 'id': kingdom.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('kingdom_edit', { 'id': kingdom.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('kingdom_new') }}">Create a new kingdom</a>
        </li>
    </ul>
{% endblock %}
